div.row-fluid
  div#info.span12.well 
    p Alert the room to your Github commits.

div#updates
  -each update in updates
    div.row-fluid
      div.span12.well
        time.timeago(datetime=moment(update['created_at']).format())= moment(update['created_at']).format('MMMM D, YYYY')
        | , 
        strong
          a(href='http://github.com/users/'+ update.username)= update.username
        |  pushed 
        strong= update.commit_count
        |  commits to 
        strong= update.name

