div.row-fluid
  div#info.span12.well 
    p By marking a checkbox below, any pushes you make to that project's Github repository will result in a <em>Gong!</em> on the <a href="/">front page</a>. 

- each repo in usersRepos
  div.row-fluid  
    div#repos.span12
      - if(repo.subscribedTo)
        input(type="checkbox", class="subscribe", name=repo['full_name'], checked="yes")
      - else
        input(type="checkbox", class="subscribe", name=repo['full_name'])
      |  
      strong= repo.name
      |  
      - if (repo.private)
        i.icon-lock
      = " " + repo.description
      // = JSON.stringify(repo)

