#login img.user-avatar {
  vertical-align:text-top;
  margin-right: 6px;
  background: #fff;
  border-radius: 2px;
}

#login .btn-group {
  width: 160px;
}

@media (min-width: 979px) {
  body {
    padding-top: 60px;
  }
}