#login img.user-avatar {
  vertical-align:text-top;
  margin-right: 6px;
  background: #fff;
  border-radius: 2px;
}


/**
 * Fix line-breaking account button
 */
/*#login .btn-group {
  width: 160px;
}*/
#login .btn-group {
  display: inline-block;
  font-size: 0;
}
#login .btn-group > .btn,
#login .btn-group > .dropdown-menu {
  font-size: 13px; // redeclare as part 2 of font-size inline-block hack
}

@media (min-width: 979px) {
  body {
    padding-top: 60px;
  }
}